<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo FOR</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Exemplo de uso do FOR em EJS</h1>

        <% for(let i = 1; i <= qtde; i++){ %>
            <div> <%=i %> </div>
        <% } %>

    </body>
</html>